@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@400;700&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --white: #fff;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --dark: #050607;
  --light: #f8f9fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  background: var(--light);
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.7rem;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

#main-nav {
  background-color: var(--dark);
  opacity: 0.8;
  position: sticky;
  z-index: 3;
  top: 0;
}

/* main nav */

#main-nav .container {
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 100px;
}

#main-nav .navigation {
  display: flex;
  justify-self: end;
}

#main-nav .navigation a {
  padding: 0.6rem;
  color: var(--light);
  font-weight: bold;
  transition: all 1s;
}

#main-nav .navigation a:hover {
  border-bottom: 2px solid var(--warning);
}

/* media responsive */

@media (max-width: 768px) {
  #main-nav .container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  #main-nav .navigation,
  #main-nav .logo1 {
    justify-self: center;
  }
  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
  }

  .navigation .last {
    display: block;
    position: absolute;
    top: 2rem;
    right: 10px;
  }

  .responsive .navigation li:not(:last-child) {
    display: none;
  }
}

@media (min-width: 769px) {
  .navigation .last {
    display: none;
  }
}

#main-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  #main-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #main-articles .articles-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* main footer */

#main-footer {
  background-color: var(--dark);
  color: #fff;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#main-footer .footer-container > *:last-child {
  grid-column: 1 / span 2;
  padding: 0.3rem;
  text-align: center;
}

#main-footer .socials {
  display: grid;
  justify-self: end;
}

/* page container */

.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2.5rem 0;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .page-container {
    grid-template-columns: 1fr;
  }
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

/* article */

#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #eee;
}
/* about */

.about-container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  margin: 2.5rem 0;
  gap: 1.5rem;
  background-color: #fff;
}
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}
.socials-icon {
  padding: 1rem;
  margin: 1rem;
  font-size: large;
}

/* contact */

.contact-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.contact-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.contact-box .btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--dark);
  color: #fff;
  font-size: 1.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}

/* blogs */

.blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2.5rem 0;
  gap: 1.5rem;
  background-color: #fff;
}

.card {
  color: black;
  background: linear-gradient(90deg, var(--secondary) 50%, white 50%)
      var(--_p, 100%) / 200%,
    linear-gradient(90deg, white 50%, var(--secondary) 50%) var(--_c, 0%) / 200%
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.4s;
}
.card:hover {
  --_p: 50%;
  --_c: 50%;
  color: #0000;
}
